# Calcium Distribution - NHANES

- [Data source](https://wwwn.cdc.gov/Nchs/Nhanes/Search/DataPage.aspx?Component=Dietary&Cycle=2021-2023)
- [Glossary](https://wwwn.cdc.gov/Nchs/Data/Nhanes/Public/2021/DataFiles/DR1IFF_L.htm)
- [Demographics Data](https://wwwn.cdc.gov/nchs/nhanes/search/datapage.aspx?Component=Demographics&Cycle=2021-2023)
- [Demographics Data Doc](https://wwwn.cdc.gov/Nchs/Data/Nhanes/Public/2021/DataFiles/DEMO_L.htm)
- [Data Collection Whitebook](https://wwwn.cdc.gov/nchs/data/Nhanes/Public/2021/Whitepapers/Aug2023-Dietary-Supplement-Mode-Changes-Whitepaper.pdf)
- EDA
    - Nutrition: Calcium
    - Recommended Intakes: [NIH](https://ods.od.nih.gov/factsheets/Calcium-HealthProfessional/)
    - Estimated Average Requirement (EAR): Average daily level of intake estimated to meet the requirements of 50% of healthy individuals; usually used to assess the nutrient intakes of groups of people and to plan nutritionally adequate diets for them; can also be used to assess the nutrient intakes of individuals
    - The EAR is the median daily intake value that is estimated to meet the requirement of half the healthy individuals in a life-stage and gender group. At this level of intake, the other half of the individuals in the specified group would not have their needs met. Refernece: [Dietary Reference Intakes Definitions - Canada.ca](https://www.canada.ca/content/dam/hc-sc/migration/hc-sc/fn-an/alt_formats/hpfb-dgpsa/pdf/nutrition/dri_tables-eng.pdf)

    - Dimension: gender, race, age and cross all of them
    - Another dimension: take supplement or not [https://wwwn.cdc.gov/Nchs/Data/Nhanes/Public/2021/DataFiles/DSQIDS_L.htm]
    - Another dimension: household income, questionnarie time (**No variable**), [poverty guideline](https://aspe.hhs.gov/topics/poverty-economic-mobility/poverty-guidelines#:~:text=The%20poverty%20guidelines%20apply%20to,poverty%20guidelines%20in%20determining%20eligibility.) - 2022, overall_median
    - Time Range: Pre-pandemic & post-pandemic
    - Assumptions:
        - Trends explanation
        - Customer demands / policy influence?

## Import Data

### Total Food Nutrition

In [159]:
import pandas as pd
import numpy as np

data_dir_path = './data'
file_name_list = ['DR1TOT_L.xpt', 'DR2TOT_L.xpt']

# Read the XPT file
df_all = pd.DataFrame()
for file_name in file_name_list:
    df = pd.read_sas(data_dir_path + '/' + file_name)
    df['data_source'] = 'food_' + file_name.split('.xpt')[0]
    print(df.shape)
    df_all = pd.concat([df_all, df], axis=0, ignore_index=True)

(8860, 169)
(8860, 86)

In [160]:
df_all.head()

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,DR2TP184,DR2TP204,DR2TP205,DR2TP225,DR2TP226,DR2_300,DR2_320Z,DR2_330Z,DR2BWATZ,DR2TWSZ
0,130378.0,61366.555827,70554.222162,1.0,73.0,2.0,2.0,40.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,130379.0,34638.056480,36505.468348,1.0,73.0,2.0,2.0,19.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,130380.0,84728.261560,103979.190677,1.0,73.0,2.0,2.0,16.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,130381.0,61737.133446,75009.220819,1.0,91.0,2.0,2.0,23.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,130382.0,75846.746917,172361.851828,1.0,73.0,2.0,2.0,27.0,6.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
df_all.describe()

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,DR2TP184,DR2TP204,DR2TP205,DR2TP225,DR2TP226,DR2_300,DR2_320Z,DR2_330Z,DR2BWATZ,DR2TWSZ
count,17720.000000,1.772000e+04,1.350800e+04,8860.000000,6797.000000,13468.000000,13508.000000,6375.000000,6797.000000,6802.000000,...,5.830000e+03,5.830000e+03,5.830000e+03,5.830000e+03,5.830000e+03,5902.000000,5.879000e+03,5.879000e+03,5.879000e+03,5902.000000
mean,136345.828217,3.690898e+04,4.841776e+04,1.956546,53.490511,1.991090,1.870447,25.635608,3.547742,1.088062,...,1.045678e-02,1.070429e-01,4.703431e-02,3.264854e-02,6.483602e-02,2.064724,1.107326e+03,6.367594e+02,4.705663e+02,14.267875
std,3453.678849,3.999510e+04,5.124386e+04,1.696070,35.798058,0.093975,0.335823,18.048763,1.783028,0.306344,...,3.625171e-02,8.488840e-02,2.017157e-01,8.876551e-02,2.751320e-01,0.532502,1.217574e+03,9.895165e+02,1.013682e+03,31.405973
min,130378.000000,5.397605e-79,5.397605e-79,1.000000,5.000000,1.000000,1.000000,-30.000000,1.000000,1.000000,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,1.000000,5.397605e-79,5.397605e-79,5.397605e-79,1.000000
25%,133319.750000,1.075696e+04,1.964897e+04,1.000000,7.000000,2.000000,2.000000,13.000000,2.000000,1.000000,...,5.397605e-79,4.900000e-02,4.000000e-03,8.000000e-03,1.000000e-03,2.000000,3.600000e+02,5.397605e-79,5.397605e-79,1.000000
50%,136377.500000,2.804253e+04,3.491219e+04,1.000000,65.000000,2.000000,2.000000,22.000000,4.000000,1.000000,...,1.000000e-03,8.900000e-02,8.000000e-03,1.600000e-02,4.000000e-03,2.000000,8.850000e+02,1.800000e+02,5.397605e-79,1.000000
75%,139336.250000,5.040740e+04,6.058977e+04,1.000000,87.000000,2.000000,2.000000,34.000000,5.000000,1.000000,...,4.000000e-03,1.430000e-01,1.500000e-02,2.700000e-02,1.100000e-02,2.000000,1.521000e+03,9.600000e+02,6.000000e+02,4.000000
max,142310.000000,4.085058e+05,7.598683e+05,5.000000,96.000000,2.000000,2.000000,149.000000,7.000000,4.000000,...,6.120000e-01,1.184000e+00,3.901000e+00,1.728000e+00,5.135000e+00,9.000000,4.416000e+04,1.716000e+04,4.416000e+04,99.000000

In [162]:
df_all['DR1TCALC'].describe()

count    6.694000e+03
mean     8.899610e+02
std      5.621458e+02
min      5.397605e-79
25%      5.090000e+02
50%      7.840000e+02
75%      1.130000e+03
max      9.266000e+03
Name: DR1TCALC, dtype: float64

### Total Supplement Nutrition

In [163]:
file_name = 'DSQTOT_L.xpt'

# Read the XPT file
df_supplement = pd.read_sas(data_dir_path + '/' + file_name)
print(df_supplement.shape)

(8860, 40)

### Demographics

In [165]:
file_name = 'DEMO_L.xpt'

# Read the XPT file
df_demo = pd.read_sas(data_dir_path + '/' + file_name)
print(df_demo.shape)

(11933, 27)

In [166]:
df_demo.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHRGND,DMDHRAGZ,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,WTINT2YR,WTMEC2YR,SDMVSTRA,SDMVPSU,INDFMPIR
0,130378.0,12.0,2.0,1.0,43.0,NaN,5.0,6.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,50055.450807,54374.463898,173.0,2.0,5.00
1,130379.0,12.0,2.0,1.0,66.0,NaN,3.0,3.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,29087.450605,34084.721548,173.0,2.0,5.00
2,130380.0,12.0,2.0,2.0,44.0,NaN,2.0,2.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,80062.674301,81196.277992,174.0,1.0,1.41
3,130381.0,12.0,2.0,2.0,5.0,NaN,5.0,7.0,1.0,71.0,...,2.0,2.0,2.0,3.0,NaN,38807.268902,55698.607106,182.0,2.0,1.53
4,130382.0,12.0,2.0,1.0,2.0,NaN,3.0,3.0,2.0,34.0,...,2.0,2.0,3.0,1.0,2.0,30607.519774,36434.146346,182.0,2.0,3.60

In [167]:
df_demo.describe()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHRGND,DMDHRAGZ,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,WTINT2YR,WTMEC2YR,SDMVSTRA,SDMVPSU,INDFMPIR
count,11933.000000,11933.0,11933.000000,11933.000000,1.193300e+04,3.770000e+02,11933.000000,11933.000000,8860.000000,2.787000e+03,...,4115.000000,4124.000000,3746.000000,4020.000000,2127.000000,11933.000000,1.193300e+04,11933.000000,11933.000000,9.892000e+03
mean,136344.000000,12.0,1.742479,1.532808,3.831786e+01,1.162865e+01,3.104584,3.320540,1.520203,1.219085e+02,...,1.564277,2.539525,2.171383,1.381095,2.275035,27404.135674,2.740414e+04,179.918294,1.491746,2.708174e+00
std,3444.904716,0.0,0.437287,0.498943,2.560199e+01,6.805429e+00,1.076346,1.518379,0.499620,6.715865e+01,...,0.495912,0.641094,0.660132,0.681421,0.694050,19449.155209,2.796296e+04,4.309624,0.499953,1.670119e+00
min,130378.000000,12.0,1.000000,1.000000,5.397605e-79,5.397605e-79,1.000000,1.000000,1.000000,5.397605e-79,...,1.000000,1.000000,1.000000,1.000000,1.000000,4584.463196,5.397605e-79,173.000000,1.000000,5.397605e-79
25%,133361.000000,12.0,1.000000,1.000000,1.300000e+01,6.000000e+00,3.000000,3.000000,1.000000,6.600000e+01,...,1.000000,2.000000,2.000000,1.000000,2.000000,14331.753594,5.397605e-79,176.000000,1.000000,1.180000e+00
50%,136344.000000,12.0,2.000000,2.000000,3.700000e+01,1.100000e+01,3.000000,3.000000,2.000000,1.220000e+02,...,2.000000,2.000000,2.000000,1.000000,2.000000,21670.185970,2.171785e+04,180.000000,1.000000,2.500000e+00
75%,139327.000000,12.0,2.000000,2.000000,6.200000e+01,1.700000e+01,4.000000,4.000000,2.000000,1.795000e+02,...,2.000000,3.000000,3.000000,2.000000,3.000000,33831.331556,3.834115e+04,184.000000,2.000000,4.500000e+00
max,142310.000000,12.0,2.000000,2.000000,8.000000e+01,2.400000e+01,5.000000,7.000000,2.000000,2.390000e+02,...,2.000000,4.000000,3.000000,3.000000,3.000000,170968.343177,2.271083e+05,187.000000,2.000000,5.000000e+00

### EAR data

In [168]:
file_name = 'calcium_ear_ai_rda.csv'

# Read the XPT file
df_ear = pd.read_csv(data_dir_path + '/' + file_name, header=0)
df_ear

,AgeGroup,Type,Age_lower,Age_upper,Unit,Male,Female,Pregnant,Lactating
0,0â€“6 months,AI,0,6,month,200,200,NaN,NaN
1,7â€“12 months,AI,7,12,month,260,260,NaN,NaN
2,1â€“3 years,RDA,1,3,year,700,700,NaN,NaN
3,4â€“8 years,RDA,4,8,year,1000,1000,NaN,NaN
4,9â€“13 years,RDA,9,13,year,1300,1300,NaN,NaN
5,14â€“18 years,RDA,14,18,year,1300,1300,1300.0,1300.0
6,19â€“50 years,RDA,19,50,year,1000,1000,1000.0,1000.0
7,51â€“70 years,RDA,51,70,year,1000,1200,NaN,NaN
8,>70+ years,RDA,71,150,year,1200,1200,NaN,NaN
9,0â€“6 months,ULs,0,6,month,1000,1000,NaN,NaN
10,7â€“12 months,ULs,7,12,month,1500,1500,NaN,NaN
11,1â€“8 years,ULs,1,8,year,2500,2500,NaN,NaN
12,9â€“18 years,ULs,9,18,year,3000,3000,3000.0,3000.0
13,19â€“50 years,ULs,19,50,year,2500,2500,2500.0,2500.0
14,51+ years,ULs,51,150,year,2000,2000,NaN,NaN

## Data Manipulation

In [182]:
id_col = 'SEQN'
demo_list = [id_col]+['RIAGENDR', # gender
                      'RIDAGEYR', # 'RIDAGEMN', 'RIDEXAGM', # age-year, age-month(0-24 months), age-month(0-19 years)
                      'RIDRETH3', # 'RIDRETH1', # race/Hispanic origin, Race/Hispanic origin w/ NH Asian
                      'RIDEXPRG', # Pregnancy status at exam
                      'DMDHHSIZ', # Total number of people in the Household
                      'INDFMPIR' # Ratio of family income to poverty
                      # INDFMPIR was calculated by dividing total annual family (or individual) income by the poverty guidelines specific to the survey year. 
                      
                     ]

nutrition_list = [id_col] + ['DR1TCALC', # Calcium (mg)
                             'DR1TVD', # Vitamin D (D2 + D3) (mcg)
                             'data_source', 
                            ]

supplement_nutrition_list = [id_col] + ['DSDCOUNT', # Total # of Dietary Supplements Taken
                                        'DSQTCALC', # Calcium (mg)
                                        'DSQTVD' # Vitamin D (D2 + D3) (mcg)
                                       ]

colname_mapping = {'DR1TCALC': 'Calcium(mg) - Food', 
                   'DR1TVD': 'VD(mcg) - Food',
                   'DSDCOUNT': 'Total # Dietary Supplements Taken',
                   'DSQTCALC': 'Calcium(mg) - Supplement',
                   'DSQTVD': 'VD(mcg) - Supplement',
                   'RIAGENDR': 'gender', 
                   'RIDAGEYR': 'age-year',
                   'RIDRETH3': 'race',
                   'RIDEXPRG': 'pregnancy_status',
                   'DMDHHSIZ': 'household # people',
                   'INDFMPIR': 'household income poverty ratio'
                  }
col_mapping = {
    'RIAGENDR': {1: 'Male', 2: 'Female'},
    'RIDRETH3': {1.0: 'Mexican American',
                2.0: 'Other Hispanic',
                3.0: 'Non-Hispanic White',
                4.0: 'Non-Hispanic Black',
                6.0: 'Non-Hispanic Asian',
                7.0: 'Other Race - Including Multi-Racial'},
    'RIDEXPRG': {1.0: 'Yes',
                 2.0: 'No',
                 3.0: 'Uncertain'},
    'DSDCOUNT': {99.00: 0, 77.0: 0}
    }

# join data
df_join = df_all[nutrition_list].join(df_demo[demo_list].set_index(id_col), on = id_col, how = 'left', rsuffix='_demo')
df_join = df_join.join(df_supplement[supplement_nutrition_list].set_index(id_col), on = id_col, how = 'left')

# small values transformed to 0
for var_col in ['DSDCOUNT', 'DR1TCALC', 'DR1TVD', 'RIDAGEYR', 'INDFMPIR']:
    df_join.loc[df_join[var_col]<1e-5, [var_col]] = 0.0

# add Estimated Average Requirement
df_join['EAR'] = df_join['RIDAGEYR']

ear_age_list = [0,1] + df_ear[(df_ear['Type']=='RDA') & (df_ear['Unit']=='year')]['Age_upper'].to_list()
female_ear_list = [260] + df_ear[(df_ear['Type']=='RDA') & (df_ear['Unit']=='year')]['Female'].to_list()
df_join.loc[df_join['RIAGENDR']==2.0, ['EAR']] = pd.cut(df_join[df_join['RIAGENDR']==2.0]['RIDAGEYR'],bins = ear_age_list, labels = female_ear_list, ordered=False,right=True)

male_ear_list = [260] + df_ear[(df_ear['Type']=='RDA') & (df_ear['Unit']=='year')]['Male'].to_list()
df_join.loc[df_join['RIAGENDR']==1.0, ['EAR']] = pd.cut(df_join[df_join['RIAGENDR']==1.0]['RIDAGEYR'],bins = ear_age_list, labels = male_ear_list, ordered=False,right=True)

# add Tolerable Upper Intake Levels 
df_join['ULs'] = df_join['RIDAGEYR']

uls_age_list = [0,1] + df_ear[(df_ear['Type']=='ULs') & (df_ear['Unit']=='year')]['Age_upper'].to_list()
female_uls_list = [1500] + df_ear[(df_ear['Type']=='ULs') & (df_ear['Unit']=='year')]['Female'].to_list()
df_join.loc[df_join['RIAGENDR']==2.0, ['ULs']] = pd.cut(df_join[df_join['RIAGENDR']==2.0]['ULs'],bins = uls_age_list, labels = female_uls_list, ordered=False,right=True)

male_uls_list = [1500] + df_ear[(df_ear['Type']=='ULs') & (df_ear['Unit']=='year')]['Male'].to_list()
df_join.loc[df_join['RIAGENDR']==1.0, ['ULs']] = pd.cut(df_join[df_join['RIAGENDR']==1.0]['ULs'],bins = uls_age_list, labels = male_uls_list, ordered=False,right=True)

# mapping demo graphics name
for var_col, var_dict in col_mapping.items():
    df_join[var_col] = df_join[var_col].replace(to_replace = var_dict)

# drop na on nutrition columns
df_join.dropna(axis=0, inplace=True, subset=nutrition_list, how='any', ignore_index=True)

# household income
poverty_guideline = [13590, 18310, 23030, 27750, 32470, 37190, 41910, 46630] # 2022 poverty guideline
def estimate_income(row):
    if pd.isna(row['DMDHHSIZ']):
        return(np.nan)
    else:
        return(poverty_guideline[int(row['DMDHHSIZ']) - 1] * row['INDFMPIR'])
df_join['household_income'] = df_join.apply(estimate_income, axis=1)

# fill na values
na_mappings = {'RIAGENDR': 'Missing', 
               'RIDRETH3': 'Missing',
               'RIDEXPRG': 'Missing',
               'DSDCOUNT': 0,
               'DSQTCALC': 0,
               'DSQTVD': 0,
               'househoud_income': np.nan
              }
df_join.fillna(na_mappings,inplace=True)

# replace column name
df_join.rename(mapper=colname_mapping, axis=1, inplace=True)

In [183]:
df_join

,SEQN,Calcium(mg) - Food,VD(mcg) - Food,data_source,gender,age-year,race,pregnancy_status,household # people,household income poverty ratio,Total # Dietary Supplements Taken,Calcium(mg) - Supplement,VD(mcg) - Supplement,EAR,ULs,household_income
0,130378.0,693.0,0.2,food_DR1TOT_L,Male,43.0,Non-Hispanic Asian,Missing,4.0,5.00,0.0,0.0,0.0,1000.0,2500.0,138750.0
1,130379.0,674.0,0.4,food_DR1TOT_L,Male,66.0,Non-Hispanic White,Missing,2.0,5.00,0.0,0.0,0.0,1000.0,2000.0,91550.0
2,130380.0,1559.0,5.4,food_DR1TOT_L,Female,44.0,Other Hispanic,No,7.0,1.41,1.0,0.0,0.0,1000.0,2500.0,59093.1
3,130381.0,1409.0,6.9,food_DR1TOT_L,Female,5.0,Other Race - Including Multi-Racial,Missing,2.0,1.53,2.0,112.0,18.0,1000.0,2500.0,28014.3
4,130382.0,380.0,0.3,food_DR1TOT_L,Male,2.0,Non-Hispanic White,Missing,4.0,3.60,1.0,0.0,10.0,700.0,2500.0,99900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6689,142303.0,480.0,1.8,food_DR1TOT_L,Female,69.0,Other Race - Including Multi-Racial,Missing,2.0,0.98,1.0,0.0,0.0,1200.0,2000.0,17943.8
6690,142304.0,475.0,0.9,food_DR1TOT_L,Male,14.0,Other Hispanic,Missing,5.0,2.16,0.0,0.0,0.0,1300.0,3000.0,70135.2
6691,142307.0,942.0,8.0,food_DR1TOT_L,Female,49.0,Non-Hispanic Black,Missing,5.0,NaN,6.0,650.0,135.0,1000.0,2500.0,NaN
6692,142309.0,3147.0,1.0,food_DR1TOT_L,Male,40.0,Other Hispanic,Missing,5.0,3.11,0.0,0.0,0.0,1000.0,2500.0,100981.7
6693,142310.0,335.0,1.2,food_DR1TOT_L,Female,80.0,Non-Hispanic White,Missing,2.0,5.00,1.0,600.0,20.0,1200.0,2000.0,91550.0

## Export Data

In [188]:
df_join.to_excel('processed_data/NHANES_food_supplement_calcium_vd_gender_age_income_race_pregnancy_2021_2023_no_na.xlsx', header=True, index=False, float_format="%.2f")

In [189]:
df_join.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6694 entries, 0 to 6693
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   SEQN                               6694 non-null   float64
 1   Calcium(mg) - Food                 6694 non-null   float64
 2   VD(mcg) - Food                     6694 non-null   float64
 3   data_source                        6694 non-null   object
 4   gender                             6694 non-null   object
 5   age-year                           6694 non-null   float64
 6   race                               6694 non-null   object
 7   pregnancy_status                   6694 non-null   object
 8   household # people                 6694 non-null   float64
 9   household income poverty ratio     5915 non-null   float64
 10  Total # Dietary Supplements Taken  6694 non-null   float64
 11  Calcium(mg) - Supplement           6694 non-null   float64
 12  VD(mcg) - Supplement               6694 non-null   float64
 13  EAR                                6640 non-null   float64
 14  ULs                                6640 non-null   float64
 15  household_income                   5915 non-null   float64
dtypes: float64(12), object(4)
memory usage: 836.9+ KB

In [190]:
df_join.describe()

,SEQN,Calcium(mg) - Food,VD(mcg) - Food,age-year,household # people,household income poverty ratio,Total # Dietary Supplements Taken,Calcium(mg) - Supplement,VD(mcg) - Supplement,EAR,ULs,household_income
count,6694.000000,6694.000000,6694.000000,6694.000000,6694.000000,5915.000000,6694.000000,6694.000000,6694.000000,6640.000000,6640.000000,5915.000000
mean,136320.600090,889.961010,4.708993,42.209889,3.060651,2.834156,1.557365,111.895488,20.627581,1092.111446,2332.454819,63095.092967
std,3452.564746,562.145789,5.311763,25.076581,1.663782,1.668867,2.312423,263.678356,43.377373,161.792563,366.621337,40678.921188
min,130378.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,260.000000,1500.000000,0.000000
25%,133286.250000,509.000000,1.300000,17.000000,2.000000,1.305000,0.000000,0.000000,0.000000,1000.000000,2000.000000,28898.300000
50%,136377.500000,784.000000,3.400000,45.000000,3.000000,2.730000,1.000000,0.000000,0.000000,1000.000000,2500.000000,60056.800000
75%,139289.250000,1130.000000,6.200000,65.000000,4.000000,4.880000,2.000000,100.000000,25.000000,1200.000000,2500.000000,91550.000000
max,142310.000000,9266.000000,79.200000,80.000000,7.000000,5.000000,30.000000,3383.300000,1262.080000,1300.000000,3000.000000,209550.000000

## Estimate Statistics